<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />

{{- $images := .Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- $featured := cond (ne $featured nil) $featured ($images.GetMatch "{*cover*,*thumbnail*}") -}}
{{- with $featured -}}
  <meta property="og:image" content="{{ $featured.Permalink }}" />
  <meta property="og:image:alt" content="{{ $.Title }}" />
{{- else -}}
  {{- with .Site.Params.images -}}
    <meta property="og:image" content="{{ index . 0 | absURL }}" />
    <meta property="og:image:alt" content="{{ $.Site.Params.imageAlt | default $.Site.Title }}" />
  {{- else -}}
    <meta property="og:image" content="{{ .Site.Params.logo | default "/img/logo.png" | absURL }}" />
    <meta property="og:image:alt" content="{{ .Site.Params.logoAlt | default .Site.Title }}" />
  {{- end -}}
{{- end -}}

{{- if .IsPage }}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  <meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
  <meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end -}}

{{- with .Site.Params.social.facebook -}}
  <meta property="article:author" content="https://www.facebook.com/{{ . }}" />
{{- end -}}
