<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "{{ .Site.Title }}",
  "url": "{{ .Site.BaseURL }}",
  "logo": "{{ "images/logo.webp" | absURL }}",
  "sameAs": [
    "https://twitter.com/yourtwitterhandle",
    "https://www.linkedin.com/company/yourcompany",
    "https://github.com/yourorganization"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+1-XXX-XXX-XXXX",
    "contactType": "customer support",
    "email": "support@yourdomain.com"
  }
}
</script>
