<!-- Custom head -->

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "{{ .Site.BaseURL }}",
    "name": "{{ .Title }}",
    "description": "{{ .Site.Params.description }}",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "{{ .Site.BaseURL }}search?q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
  </script>

<!-- Viewport meta tag for proper rendering on mobile devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Additional custom head content can be added here -->

{{ $customScss := resources.Get "scss/common/_custom.scss" | css.Sass (dict "outputStyle" "compressed") }}
<link rel="stylesheet" href="{{ $customScss.RelPermalink }}">
