{{ with site.Params.seo.favicons }}
<link rel="apple-touch-icon" sizes="180x180" href="{{ "assets/img/favicon/apple-touch-icon.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ .icon | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "assets/img/favicon/favicon-16x16.png" | relURL }}">
<link rel="manifest" href="{{ "assets/img/favicon/site.webmanifest" | relURL }}">
<link rel="mask-icon" href="{{ .maskIcon | relURL }}" color="{{ .maskIconColor }}">
<link rel="shortcut icon" href="{{ "assets/img/favicon/favicon.ico" | relURL }}">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="{{ "assets/img/favicon/browserconfig.xml" | relURL }}">
<meta name="theme-color" content="#ffffff">
{{ end }}
