{{ $appScss := "scss/app.scss" }}
{{ $scssOptions := dict
    "targetPath" "css/style.css"
    "outputStyle" "compressed"
    "enableSourceMap" true
    "includePaths" (slice "node_modules")
    "sourceMap" true
}}

{{ $themeCss := resources.Get $appScss | toCSS $scssOptions | postCSS | minify | fingerprint "sha512" }}

{{ if .Site.Params.custom_css -}}
  {{ $customScss := resources.Get .Site.Params.custom_css | toCSS $scssOptions | postCSS | fingerprint "sha512" }}
  {{ $themeCss = slice $themeCss $customScss | resources.Concat "css/style.css" | resources.Fingerprint "sha512" }}
{{ end -}}

<link rel="stylesheet" href="{{ $themeCss.RelPermalink }}" integrity="{{ $themeCss.Data.Integrity }}" crossorigin="anonymous">

{{ if .Site.Params.options.darkMode -}}
  {{ $darkScss := "scss/common/_dark.scss" }}
  {{ $darkStyle := resources.Get $darkScss | toCSS $scssOptions | postCSS | fingerprint "sha512" }}
  <link rel="stylesheet" href="{{ $darkStyle.RelPermalink }}" integrity="{{ $darkStyle.Data.Integrity }}" media="(prefers-color-scheme: dark)" crossorigin="anonymous">
{{ end -}}

