<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{{ .Site.Home.Permalink }}">Home</a>
    </li>
    {{ if .Section }}
    <li class="breadcrumb-item">
      <a href="{{ .Site.BaseURL }}{{ .Section }}">{{ humanize .Section }}</a>
    </li>
    {{ end }}
    <li class="breadcrumb-item active" aria-current="page">
      {{ $title := .Title }}
      {{ $maxLength := 100 }}
      {{ if gt (len $title) $maxLength }}
        {{ $words := split $title " " }}
        {{ $truncated := "" }}
        {{ range $index, $word := $words }}
          {{ if le (len (printf "%s %s" $truncated $word)) $maxLength }}
            {{ $truncated = printf "%s %s" $truncated $word }}
          {{ else }}
            {{ if eq $index 0 }}
              {{ $truncated = $word }}
            {{ else }}
              {{ break }}
            {{ end }}
          {{ end }}
        {{ end }}
        {{ $truncated = trim $truncated " " }}
        {{ if ne $truncated $title }}
          {{ $truncated = printf "%s..." $truncated }}
        {{ end }}
        {{ $truncated }}
      {{ else }}
        {{ $title }}
      {{ end }}
    </li>
  </ol>
</nav>
