{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">Page not found :(</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">Oops! The page you are looking for doesn't exist or has been moved.</p>
      <p>Here are some helpful links instead:</p>
      <ul class="list-unstyled">
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        <li><a href="{{ "blog/" | relURL }}">Blog</a></li>
        <!-- Add more links as needed -->
      </ul>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
{{ end }}

{{ define "sidebar-footer" }}
{{ end }}
